@import "tailwindcss";
@theme {
  --color-primary-50: oklch(0.952 0.02 13.72);
  --color-primary-100: oklch(0.892 0.045 12.97);
  --color-primary-200: oklch(0.788 0.101 14.19);
  --color-primary-300: oklch(0.684 0.169 16.1);
  --color-primary-400: oklch(0.576 0.197 17.95);
  --color-primary-500: oklch(0.461 0.158 18.02);
  --color-primary-600: oklch(0.397 0.136 17.84);
  --color-primary-700: oklch(0.333 0.114 17.77);
  --color-primary-800: oklch(0.271 0.092 18.6);
  --color-primary-900: oklch(0.208 0.071 17.78);
  --color-primary-950: oklch(0.173 0.058 18.73);
  --spacing-title-x: env(titlebar-area-x, 0);
  --spacing-title-h: env(titlebar-area-height, 2.2rem);
  --spacing-title-w: env(titlebar-area-width, 100%);
}
.app-region-drag {
  app-region: drag;
}
